* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;
}

body {
  min-width: 800px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toolsBar {
  width: 100%;
  height: 50px;
  user-select: none;
  background-color: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 5px;
}

input {
  margin: 0 3px;
}

select {
  font-size: 1rem;
  outline: none;
}

button {
  font-size: 1rem;
}

span {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  min-width: 60px;
}

#svg-container {
  flex: 1;
  width: 100%;
  border: 5px solid #34cfd4;
}

#main {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

#info {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

#info ul {
  flex-direction: column;
}

#info ul li {
  margin: 10px;
  white-space: nowrap;
}
